<% include partials/header %>

<div class="container">
    <div id="map">drydry</div>
    
    
</div>

<script>
        // Initialize and add the map
        // Initialize and add the map
        function initMap() {
          // The location of Uluru
          var uluru = {lat: 49.242732, lng: -123.059957};
          // The map, centered at Uluru
          var map = new google.maps.Map(
              document.getElementById('map'), {zoom: 12, center: uluru});
          // The marker, positioned at Uluru
          var marker = new google.maps.Marker({position: uluru, map: map});
        }
</script>
<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPpqP6eoq_mPyRBOeMOuHbjLICK840nyI&callback=initMap">
</script>

<% include partials/footer %>