<!DOCTYPE html>
<html>
    <head>
        <title>Gym Connect</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/landing.css">
    </head>
    <body>
        <div class="container" id="landing-header">
            <h1 class="display-1">Gym Connect</h1>
            <a href="/gyms" class="btn btn-lg btn-info">View All Gyms</a>
        </div>
        
        <% include partials/footer %>