#landing-header {
    text-align: center;
    padding-top: 30vh;
}

#landing-header h1 {
  color: #fff;
  font-weight: 600;
}

body {
    background-image: url(https://res.cloudinary.com/standard/image/upload/v1539490396/gym.jpg);
}