#map {
    /*margin-top: 5vh;*/
    height: 500px;
    width: 100%;
}

.img-fit {
    width: 100%;
}

.img-thumbnail {
    padding: 0;
}

.img-fluid {
    width: 100%;
}

.gym-title {
    font-size: large;
    font-weight: bold;
    color: black;
}

.delete-form {
    display: inline;
}