<% include ../partials/header %>

<div class="container">
    <h1 class="mt-5">List of Members</h2>
    <ul class="list-unstyled">
        <% users.forEach(function(user) { %>
        <li class=""><a href="/users/<%= user._id %>"><strong><%= user.username %></strong></a> 
            <% if(user.isAdmin) { %>
            <span>- Admin</span>
            <% } else {%>
            <span>- Member</span>
            <% } %>
        </li>
        <% }); %>
    </ul>
</div>

<% include ../partials/footer %>